*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  background-color: #efefef;
}

.App {
  text-align: center;
  margin: 0 10px;

}
